<div class="block notice">
  <h3>Leagues</h3>
  <div class="content">
    <% if params[:action] == 'index' %>
      <p>A list of all leagues currently registered.</p>
      <p>You may optionally associate a game with a league.</p>
    <% end %>

    <% if params[:action] == 'show' %>
      <p>League details.</p>
      <p>Only an admin can edit or delete a league.</p>
    <% end %>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%= link_to 'Games', games_path %></li>
    <li><%= link_to 'Players', users_path %></li>
    <% if params[:action] == 'show' %>
      <li><%= link_to "Games of #{@league.name}", league_games_path(@league) %></li>
    <% end %>
  </ul>
</div>
