<div class="block notice">
  <h3>Runners</h3>
  <div class="content">
    <% case params[:action] %>
    <% when 'show' %>
      <p>Details about the selected runner.</p>
    <% when 'index' %>
      <p>A list of all currently available runners.</p>
    <% end %>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%= link_to 'Corporations', corporations_path %></li>
    <li><%= link_to 'Players', users_path %></li>
    <li><%= link_to 'Games', games_path %></li>
  </ul>
</div>
