<div class="block notice">
  <h3>Players</h3>
  <div class="content">
    <p>A list of all players and the total number of games won and lost.</p>
    <p>You may view any profile, but may only edit your own.</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%= link_to 'Games', games_path %></li>
  </ul>
</div>
